<div class="header">
    <ul class="nav nav-pills pull-right">
        <li class="active"><a ng-href="#">Home</a></li>
        <li><a ng-href="#">Teams</a></li>
        <li><a ng-href="#">Schedule</a></li>
        <li><a ng-href="#">Leaders</a></li>
        <li><a ng-href="#">Draft</a></li>
        <li><a ng-href="#">Trades</a></li>
    </ul>
    <h3 class="text-muted">BBG</h3>
</div>

<div class="jumbotron">
    <h1>Login</h1>
    <h2>{{currentUser.email}}</h2>
    <input type="text" placeholder="name@email.com" ng-model="user.email">
    <input type="password" placeholder="****" ng-model="user.password">
    </br>
    <button ng-click='login(user.email, user.password)'class="btn btn-primary" >Log In</button>
    <button ng-click='register(user.email, user.password)'class="btn btn-primary" >Register</button>
    <button ng-click='logout()'class="btn btn-primary" >Log Out</button>
    <button ng-click='addPlayer()'class="btn btn-primary" >Add Player</button>
    <button ng-click='newGame()'class="btn btn-primary" >New Game</button>
    <button ng-click='getUserObject()'class="btn btn-primary" >Get User Object</button>

    <p class="lead">
        <img src="images/yeoman.png" alt="I'm Yeoman"><br>
        Always a pleasure scaffolding your apps.
    </p>

    {{feedback}}


</div>


<div class="footer">
    <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
</div>
